<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <div class="card border-info bg-info text-white mb-3">
            <div class="card-body">
              <div class="row">
                  <div class="col-md-6 fw-bold">
                    <div class="col-md-12">1000</div>
                    <div class="col-md-12">Users</div>
                  </div>
                  <div class="col-md-6 fs-1 text-black-50">
                    <i class="bi bi-person-plus-fill"></i>
                  </div>
              </div>
            </div>
            <div class="card-footer text-center">
                <a class="link-light" routerLink="/admin">
                    More Info <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card border-success bg-success text-white mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 fw-bold">
                      <div class="col-md-12">1000</div>
                      <div class="col-md-12">Products</div>
                    </div>
                    <div class="col-md-6 fs-1 text-black-50">
                        <i class="bi bi-handbag-fill"></i>
                    </div>
                </div>
              </div>
              <div class="card-footer text-center">
                  <a class="link-light" routerLink="/product">
                    More Info <i class="bi bi-arrow-right-circle-fill"></i>
                  </a>
              </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card border-danger bg-danger text-white mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 fw-bold">
                      <div class="col-md-12">1000</div>
                      <div class="col-md-12">Users</div>
                    </div>
                    <div class="col-md-6 fs-1 text-black-50">
                      <i class="bi bi-person-plus-fill"></i>
                    </div>
                </div>
              </div>
              <div class="card-footer text-center">
                More Info <i class="bi bi-arrow-right-circle-fill"></i>
              </div>
          </div>
    </div>
</div>